<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Provision from "./views/Provision";
export default {name: 'App',
  components: {Provision}
}
</script>

<style lang="stylus">
@import "assets/stylus/main.styl"
</style>
