<template>
    <div class="modal">
        <div class="modal_window">
            <div class="modal_window__dialog col-sm-6">
                <form  class="modal_window__content">
                    <div class="modal_window__header">
                        <h3 class="modal_window__title">Новая запись</h3>
                        <span @click="goBack" class="button-close"></span>
                    </div>
                    <div class="modal_window__body">
                        <label for="Select-model">Select model</label>
                        <select
                                v-model="post.model"
                                id="Select-model"
                                required
                        >
                            <option value="DP715">Grandstream DP715</option>
                            <option value="GXP1100">Grandstream GXP1100</option>
                            <option value="GXP1160">Grandstream GXP1160</option>
                            <option value="GXP1400">Grandstream GXP1400</option>
                            <option value="GXP1610">Grandstream GXP1610</option>
                            <option value="GXP2610">Grandstream GXP2610</option>
                        </select>
                        <label for="Select-server">Select server</label>
                        <select
                                v-model="post.sip_server"
                                id="Select-server"
                                required
                        >
                            <option value="192.168.1.101">Moscow TDE</option>
                            <option value="10.4.0.101">Moscow Aster</option>
                            <option value="192.168.18.101">Chayanova</option>
                            <option value="192.168.55.101">Panorama</option>
                            <option value="192.168.15.101">Oruzheiny</option>
                            <option value="10.3.0.101">3-Tverskaya</option>
                        </select>
                        <label for="Select-vlan">Select vlan</label>
                        <select
                                v-model="post.vlan_id"
                                id="Select-vlan"
                                required
                        >
                            <option value="0">0</option>
                            <option value="222">222</option>
                        </select>
                        <label for="mac">MAC address</label>
                        <input
                                id="mac"
                                v-model="post.mac"
                                type="text"
                                class="modal__input"
                                placeholder="000b82c"
                                required
                        >
                        <label for="Phone IP address">Phone IP address</label>
                        <input
                                id="Phone IP address"
                                v-model="post.ip_phone"
                                type="text"
                                class="modal__input"
                                placeholder="ip address"
                                required
                        >
                        <label for="login">Login</label>
                        <input
                                id="login"
                                v-model="post.login"
                                type="text"
                                class="modal__input"
                                placeholder="number phone"
                                required
                        >
                        <label for="password">Password</label>
                        <input
                                id="password"
                                v-model="post.pass"
                                type="text"
                                class="modal__input"
                                placeholder="number phone plus abc"
                                required
                        >
                        <label for="first-name">First name</label>
                        <input
                                id="first-name"
                                v-model="post.name2"
                                type="text"
                                class="modal__input"
                                placeholder="Алексей"
                                required
                        >
                        <label for="last-name">Last name</label>
                        <input
                                id="last-name"
                                v-model="post.name1"
                                type="text"
                                class="modal__input"
                                placeholder="Ляшневский"
                                required
                        >
                    </div>
                    <div class="modal_window__button">
                        <button type="button"
                                class="modal_window__button--add button-primary"
                                @click="addPost()"
                                >
                            ADD
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
  import PostsService from '@/services/PostsService'
  export default {
    name: "AddEntry",
    data () {
      return {
        post: {
          model: '',
          sip_server:'',
          vlan_id:'',
          mac: '',
          ip_phone: '',
          login: '',
          pass: '',
          name2: '',
          name1: ''
        }
      }
    },

    methods: {
      async addPost () {
        if (this.post.model !== '' &&
            this.post.sip_server !== '' &&
            this.post.vlan_id !== '' &&
            this.post.mac !== '' &&
            this.post.ip_phone !== '' &&
            this.post.login !== '' &&
            this.post.pass !== '' &&
            this.post.name2 !== '' &&
            this.post.name1 !== ''
        ) {
          await PostsService.addNewPost({
            model: this.post.model,
            sip_server: this.post.sip_server,
            vlan_id: this.post.vlan_id,
            mac: this.post.mac,
            ip_phone: this.post.ip_phone,
            login: this.post.login,
            pass: this.post.pass,
            name2: this.post.name2,
            name1: this.post.name1,
            date: new Date()
          });
          this.$router.push({ name: 'Provision' });
        } else {
          alert("Не все поля заполнены!!!")
        }
      },
      goBack () {
        this.$router.push({ name: 'Provision' })
      }
    }
  }
</script>