<template>
    <div class="wrapper">
        <div class="ui-alert ui-alert--danger"
             v-bind:class="{alert__hidden:isActive}">
            <span class="alert__title">неверный логин или пароль</span>
            <span v-on:click="onClose" class="button-close"></span>
        </div>
        <apptitle />
        <div class="container auth">
            <form @submit.prevent="onAuthentification" class="auth__form">
                <input
                        type="text"
                        class="auth__input"
                        placeholder="login"
                        v-model="login"
                        required
                >
                <input
                        type="password"
                        class="auth__input"
                        placeholder="password"
                        v-model="password"
                        required
                >
                <button
                        type="submit"
                        class="auth__btn button-primary"
                >
                    sing in
                </button>
            </form>
        </div>
        <appfooter/>
    </div>
</template>

<script>
  //import UsersService from '@/services/UsersService'
  import  apptitle from '@/components/AppTitle'
  import  appfooter from '@/components/AppFooter'

  export default {

    components: {
      apptitle,
      appfooter
    },
    data() {
      return {
        login: '',
        password: '',
        isActive: true
      }
    },
    methods: {
      onAuthentification () {
      //   UsersService.Auth({
      //    login: this.login,
      //     password: this.password
      //   }).then(res => {
      //     const token = res.data;
      //     if(!token.error){
      //       this.login = '';
      //       this.password = '';
      //       localStorage.setItem('usertoken', token);
      //       this.$router.push({ name: 'Provision' })
      //     }else {
      //       this.login = '';
      //       this.password = '';
      //       this.isActive = false;
      //     }
      //   }).catch(err => {
      //     console.log(err)
      //   });
      // },
      if(this.login == "admin" && this.password == "admin"){
        this.$router.push({ name: 'Provision' })
      }else {
             this.login = '';
             this.password = '';
             this.isActive = false;
           }
      },
      onClose() {
        this.isActive = true;
      }
    }
  }
</script>
