<template>
    <div class="modal">
        <div class="modal_window">
            <div class="modal_window__dialog col-sm-6">
                <form  class="modal_window__content">
                    <div class="modal_window__header">
                        <h3 class="modal_window__title">{{ post.name2 }} {{ post.name1 }}</h3>
                        <span
                              @click="goBack"
                              class="button-close">
                        </span>
                    </div>
                    <div class="modal_window__date">
                        <div class="modal_window__date--padding"><h4>дата создания: <span class="modal_window__date--blue">{{ post.date }}</span></h4></div>
                        <div class="modal_window__date--padding"><h4>последний запрос: <span class="modal_window__date--blue">{{ post.last_udp }}</span></h4></div>
                    </div>
                    <div class="modal_window__body">
                        <label for="Select-model">Select model</label>
                        <select
                                v-model="post.model"
                                v-model.trim="post.model"
                                id="Select-model"
                                required
                        >
                            <option value="DP715">Grandstream DP715</option>
                            <option value="GXP1100">Grandstream GXP1100</option>
                            <option value="GXP1160">Grandstream GXP1160</option>
                            <option value="GXP1400">Grandstream GXP1400</option>
                            <option value="GXP1610">Grandstream GXP1610</option>
                            <option value="GXP2610">Grandstream GXP2610</option>
                        </select>
                        <label for="Select-server">Select server</label>
                        <select
                                v-model="post.sip_server"
                                v-model.trim="post.sip_server"
                                id="Select-server"
                                required
                        >
                            <option value="192.168.1.101">Moscow TDE</option>
                            <option value="10.4.0.101">Moscow Aster</option>
                            <option value="192.168.18.101">Chayanova</option>
                            <option value="192.168.55.101">Panorama</option>
                            <option value="192.168.15.101">Oruzheiny</option>
                            <option value="10.3.0.101">3-Tverskaya</option>
                        </select>
                        <label for="Select-vlan">Select vlan</label>
                        <select
                                v-model="post.vlan_id"
                                v-model.trim="post.vlan_id"
                                id="Select-vlan"
                                required
                        >
                            <option value="0">0</option>
                            <option value="222">222</option>
                        </select>
                        <label for="mac">MAC address</label>
                        <input
                                id="mac"
                                v-model="post.mac"
                                v-model.trim="post.mac"
                                type="text"
                                class="modal__input"
                                placeholder="000b82c"
                                required
                        >
                        <label for="Phone IP address">Phone IP address</label>
                        <input
                                id="Phone IP address"
                                v-model="post.ip_phone"
                                v-model.trim="post.ip_phone"
                                type="text" class="modal__input"
                                placeholder="ip address"
                                required
                        >
                        <label for="login">Login</label>
                        <input
                                id="login"
                                v-model="post.login"
                                v-model.trim="post.login"
                                type="text"
                                class="modal__input"
                                placeholder="number phone"
                                required
                        >
                        <label for="password">Password</label>
                        <input
                                id="password"
                                v-model="post.pass"
                                v-model.trim="post.pass"
                                type="text"
                                class="modal__input"
                                placeholder="number phone plus abc"
                                required
                        >
                        <label for="first-name">First name</label>
                        <input
                                id="first-name"
                                v-model="post.name2"
                                v-model.trim="post.name2"
                                type="text"
                                class="modal__input"
                                placeholder="Alexey"
                                required
                        >
                        <label for="last-name">Last name</label>
                        <input
                                id="last-name"
                                v-model="post.name1"
                                v-model.trim="post.name1"
                                type="text"
                                class="modal__input"
                                placeholder="Lyashnevsky"
                                required
                        >
                    </div>
                    <div class="modal_window__button">
                        <button type="button"
                                class="modal_window__button--edit button-warning"
                                @click="editPost()"
                        >
                            <img class="img" src="../img/pencil-50.png" alt="Изменить запись">
                        </button>
                        <button type="button"
                                class="modal_window__button--del button-danger"
                                @click.prevent="removePost(post._id)"
                        >
                            <img class="img" src="../img/delete-50.png" alt="Удалить запись">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
  import PostsService from '@/services/PostsService'
  export default {
    name: "EditEntry",
    data () {
      return {
        post: {
          model: '',
          sip_server:'',
          vlan_id:'',
          mac: '',
          ip_phone: '',
          login: '',
          pass: '',
          name2: '',
          name1: '',
          date: '',
          last_udp: ''
        }
      }
    },
    methods: {
      goBack () {
        this.$router.push({ name: 'Provision' })
      },
      async getPost () {
        const response = await PostsService.getPost({ id: this.$route.params.id });
        this.post._id = response.data._id;
        this.post.model = response.data.model;
        this.post.sip_server = response.data.sip_server;
        this.post.vlan_id = response.data.vlan_id;
        this.post.mac = response.data.mac;
        this.post.ip_phone = response.data.ip_phone;
        this.post.login = response.data.login;
        this.post.pass = response.data.pass;
        this.post.name2 = response.data.name2;
        this.post.name1 = response.data.name1;
        this.post.date = response.data.date;
        this.post.last_udp = response.data.last_udp;
      },
      async removePost (value) {
        let del = confirm("Вы действительно хотите удалить запись " + this.post.name2 + " " + this.post.name1 + " ?");
        if (del == true){
          await PostsService.deletePost(value);
          alert("Где то проскулила сутулая собака!");
          this.$router.push({ name: 'Provision' })
        }
      },
      async editPost () {
        if (this.post.model !== '' &&
          this.post.sip_server !== '' &&
          this.post.vlan_id !== '' &&
          this.post.mac !== '' &&
          this.post.ip_phone !== '' &&
          this.post.login !== '' &&
          this.post.pass !== '' &&
          this.post.name2 !== '' &&
          this.post.name1 !== ''
        ){
          await PostsService.updatePost({
            id: this.$route.params.id,
            model: this.post.model,
            sip_server: this.post.sip_server,
            vlan_id: this.post.vlan_id,
            mac: this.post.mac,
            ip_phone: this.post.ip_phone,
            login: this.post.login,
            pass: this.post.pass,
            name2: this.post.name2,
            name1: this.post.name1
          });
          this.$router.push({ name: 'Provision' })
        }
      }
    },
    mounted () {
      this.getPost()
    }
  }
</script>