<template>
    <div class="wrapper">
        <apptitle />
        <router-link to="/provision/addentry" class="modal_button">
          <span class="button button-success prov__btn">+</span>
        </router-link>
        <div class="container prov">
            <table class="prov__table">
                <thead class="prov__thead">
                <tr>
                    <th class="prov__thead__th"><span>mac</span></th>
                    <th class="prov__thead__th"> <span>ip phone</span></th>
                    <th class="prov__thead__th"><span>sip server</span></th>
                    <th class="prov__thead__th"><span>vlan</span></th>
                    <th class="prov__thead__th"><span>password</span></th>
                    <th class="prov__thead__th"><span>login</span></th>
                    <th class="prov__thead__th"><span>first name</span></th>
                    <th class="prov__thead__th"><span>last name</span></th>
                    <th class="prov__thead__th"><span>model</span></th>
                    <th class="prov__thead__th"><span>action</span></th>
                </tr>
                </thead>
                <tbody>
                        <tr class="prov__tr" v-for="provision in provisions">
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                <span class="ui-text-regular">{{ provision.mac }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.ip_phone }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.sip_server }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.vlan_id }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.pass }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.login }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.name2 }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.name1 }}</span>
                                </router-link>
                            </td>
                            <td>
                                <router-link :to="{ name: 'EditEntry', params: { id: provision._id } }">
                                    <span class="ui-text-regular">{{ provision.model }}</span>
                                </router-link>
                            </td>
                            <td><span class="ui-text-regular">
                                <a :href="`http://${provision.ip_phone}`" class="prov__tr__link color__green">
                                    <img class="img" src="../img/phone-50.png" alt="перейти на страницу телефона"></a>
                                <a :href="`http://${provision.ip_phone}/cgi-bin/api-sys_operation?passcode=Veles12345&request=REBOOT`" class="prov__tr__link color__yellow">
                                    <img class="img" src="../img/restart-50.png" alt="перезагрузить телефон"></a>
                            </span>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <appfooter/>
    </div>
</template>

<script>
  import PostsService from '@/services/PostsService'
  import  apptitle from "@/components/AppTitle"
  import  appfooter from "@/components/AppFooter"

  export default {
    name: "Provision",
    components: {
      apptitle,
      appfooter
    },
    data () {

      return {
        provisions: []
      }
    },
    mounted () {
      this.getPosts()
    },
    methods: {
      async getPosts () {
        const response = await PostsService.fetchPosts();
        this.provisions = response.data.conf;
      }
    }
  }
</script>