<template>
    <div class="main_foter">
        <p class="main_footer__copyright">
            &#169 Design & development by Alexey Lyashnevskiy 2020 yr.
        </p>
    </div>
</template>

<script>
  export default {
    name: "AppFooter"
  }
</script>

<style lang="stylus">

.main_footer
    flex 0 0 auto

    &__copyright
      margin 10% 0 20px 0
      text-align: center
      color #858585

</style>