<template>
    <h1 class="main_title">Provision</h1>
</template>
<script>
  export default {
    name: "AppTitle"
  }
</script>
<style lang="stylus">
    .main_title
        margin 2% 0 3% 0
        text-align center
        font-size 6vh
        color #c2c2c2
</style>