.modal

  &__input:last-child
    margin-bottom 0

.modal_window
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background rgba(0,0,0,.8)
  z-index 1050
  opacity 1
  transition opacity 200ms ease-in
  margin 0
  padding 0
  overflow-x hidden
  overflow-y auto

  &__close
    display none

  &__date

    &--padding
      padding 7.5px 15px 7.5px 15px

    &--blue
      color #5c9ddb

  &__dialog
    position relative
    width 50%
    margin 3% auto

  &__content
    position relative
    display flex
    flex-direction column
    background-color #fff
    background-clip padding-box
    border 1px solid rgba(0,0,0,.2)
    outline 0

  &__header
    display flex
    align-items center
    justify-content space-between
    padding 15px
    border-bottom 1px solid #eceeef

  &__title
    margin-top 0
    margin-bottom 0
    line-height 1.5
    font-size 1.25rem
    font-weight 500

  &__body
    position relative
    flex 1 1 auto
    padding 15px 15px 0 15px
    overflow auto

  &__button
    margin 20px auto

    &--edit
      margin-right 50px
    &--del
      margin-left 50px
select
  border-radius 0