.auth
  text-align center
  margin-top 7%

  &__form
    background-color: #fff
    margin-left 30%
    width 40%
    padding 0 30px 0 30px
    box-shadow 8px 10px 4px -2px rgba(193,193,193,1)

  &__input
    width 20%
    border-radius 0

    &:nth-child(1)
      margin-top 100px

  &__btn
    margin 30px 0 50px 0
.alert

  &__hidden
    visibility: hidden

  &__title
    margin 0 auto