.modal_button
  margin 0 0 30px 40px
  width 2%

.prov
  &__btn
    margin 2% auto
    font-size 2vh
    background-color: #5c9ddb
    box-shadow 5px 5px 2px -2px rgba(193,193,193,1)

  &__table
    width 100%
    box-shadow 8px 10px 4px -2px rgba(193,193,193,1)
    margin-bottom 2%
    
  &__thead
    background-color #c2c2c2

    &__th
      padding 7px 0 7px 0

  &__tr
    background-color #fff
    transition-duration .5s
    border-bottom 1px solid #e9e9e9

    &__link
      display block
      //border-radius 5px
      padding 5px 0 5px 0
      text-align: center
      margin 6px 0 6px 0

  &__tr:hover
    background-color #c2d3e3
.img
  width 30px
.color
  &__yellow
    background-color #f4c430
  &__green
    background-color #64be91
th,td
  text-align center
  padding  0 4px 0 4px